body {
  background-color: olivedrab;
  font-family: 'Raleway', sans-serif;
  color: #002e5b;
}

.container {
  max-width: 900px;
  min-width: 320px;
  background-color: #F8F0E3;
  margin: 0 auto;
  /*padding: 15px;*/
}

.header {
  background-color: #002e5b;
  padding-right: 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.nav ul {
  list-style-type: none;
}

.header h1 {
  color:  #F8F0E3;
  font-size: 22px;
}

.nav li {
  font-family: 'Roboto', sans-serif;
  color:  #F8F0E3;
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  text-decoration: underline;
}

.nav li a {
  color: #F8F0E3;
}

.nav li a:hover {
  color: orangered;
  font-weight: bold;
}

.hidden {
  max-width: 650px;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
  padding: 0 15px;
}

img, p {
  margin-right: 15px;
}

a {
  color: olivedrab;
  font-weight: bold;
}

a:hover {
  color: orangered;
  font-weight: bold;
}

img {
  border: 1px solid #002e5b;
}

.float-left {
  float: left;
  margin-right: 15px;
}

.float-right {
  float: right;
  margin-left: 15px;
}

.portfolio-img {
  max-width: 200px;
  height: auto;
}

#about {
  max-width: 800px;
}

.col-1 {
  float: left;
  max-width: 400px;
}

.col-2 {
  float: right;
  max-width: 400px;
}

.portfolio p {
  text-align: justify;
}

.underline {
  text-decoration: underline;
}

button {
  background-color: #002e5b;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
}

button:hover {
  background-color: orangered;
}

footer {
  display: flex;
  background-color: #002e5b;
  color: white;
  font-size: 16px;
}